<div class="section" ng-controller="DemoController">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <form class="col s12 m6 offset-m3">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="mdi-action-search prefix"></i>
                            <input id="icon_prefix" type="text"
                                   ng-model="searchText"
                                   ng-keypress="$event.keyCode == 13 ? executeSearch() : null">
                            <label for="icon_prefix">Ricerca per {{searchField}}</label>
                        </div>
                        <div class="input-field col s4">
                            <select class="browser-default" ng-model="searchField">
                                <option disabled="" selected="">Filtra per</option>
                                <option value="comune">Comune</option>
                                <option value="provincia">Provincia</option>
                                <option value="regione">Regione</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s12 m12" ng-class="{'l12': !editorIsOpen, 'l6': editorIsOpen}">
                    <div class="row">
                        <div class="col s12">
                            <div class="right-align">
                                <a class="btn-floating btn-large waves-effect waves-light green" ng-click="editItem()">
                                    <i class="mdi-content-add"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <em>Totale: {{total}}</em>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <table class="centered hoverable">
                                <thead>
                                <tr>
                                    <th>Comune</th>
                                    <th>Provincia</th>
                                    <th>Regione</th>
                                    <th>Abitanti</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{item._source.comune}}</td>
                                    <td>{{item._source.provincia}}</td>
                                    <td>{{item._source.regione}}</td>
                                    <td>{{item._source.abitanti}}</td>
                                    <td>
                                        <a class="waves-effect waves-light btn orange lighten-3"
                                           ng-click="editItem(item)">
                                            <i class="mdi-editor-format-indent-increase right"></i>modifica</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="pagination">
                                <li class="waves-effect" ng-class="{'disabled': from==0}">
                                    <a ng-click="changePage(from-1)"><i class="mdi-av-skip-previous"></i></a>
                                </li>
                                <li class="waves-effect">
                                    <a ng-click="changePage(from+1)"><i class="mdi-av-skip-next"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- editor-->
                <div class="col grid-example s12 m12 l6" ng-if="editorIsOpen" ng-include="'demo/views/edit.html'"></div>
            </div>

        </div>
    </div>
</div>

