<div class="col s12">
    <h3 class="section-title">Studi</h3>
</div>
<div class="col s12">
    <div class="card-panel">
        <h5 class="materialize-red-text">
            Alma  Mater Studiorum - Università di Bologna
        </h5>

        <div class="row">
            <div class="col s4">
            </div>
            <div class="col s8">
                <p>
                    Laurea specialistica in Ingegneria Elettronica con indirizzo “Sistemi Elettronici per l’Automazione"
                </p>

                <!--<p>Sito Web realizzato con le seguenti tecnologie:</p>-->
                <!--<div class="row">-->
                    <!--<div class="col s2" ng-repeat="s in p.skills">-->
                        <!--<p class="center-align">-->
                            <!--<img style="height:50px" class="responsive-img" src="{{s.logo}}">-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<p class="right-align">-->
                    <!--<a ng-href="{{s.link}}">-->
                        <!--<i class="mdi-content-link"></i> Sito Web-->
                    <!--</a>-->
                <!--</p>-->
            </div>
        </div>
    </div>
</div>
